# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
condaenv.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs & outputs
*.log
results/
experiments/

# Models (do NOT commit large files)
models/


#notebooks
*.ipynb